@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CRUD Products </h1>
</div>
<div>
    <a href="/Products" class="btn btn-primary">Manage Products</a>
</div>